<div class="footer">
  <div class="footer__block footer__block--name">
      <p>Daniel <span>Munoz</span></p>
      {% include nav.html class="nav__list--footer" %}
    </div>
    
    <div class="footer__block">
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Long Beach, CA</li>
        <li><i class="far fa-envelope"></i> daniel.munozdev@gmail.com</li>
      </ul>
    </div>
    
    <div class="footer__block">
      <ul class="block__plat">
        <li><i class="fab fa-github"></i> <a href="https://github.com/planeswalker1">Github</a></li>
        <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/danielmunozdev/">LinkedIn</a></li>
      </ul>
    </div>      
</div>

<p class="copy">&copy; Daniel 2018</p>